.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 14%;
}
 
.room-value {
    margin-top: -19px;
    height: 34px;
    width: 260px;
    border: solid 2px grey;
    border-radius: 8px;
    color: black;
    font-size: 15px;
}
 
.room-btn {
    margin-top: 21px;
    height: 40px;
    width: 117px;
    border-radius: 10px;
    background: #2196F3;
    color: white;
    border: none;
}